<html>
<head>
<title>Hummuse</title>
<link type="text/css" rel="stylesheet" href="static/main_css.css"/>
</head>
<body>
	<h2>Add Projects</h2>
	{{Congrats}}<br>
	Welcome {{user_name}} <br>
	<a href="{{logout_url}}">Signout</a> <br><br>
	
	
	<form method="post" action="/">
		<label>
			Project Title:
			<input name="pname" value="{{pName}}">
		</label>	
		<label>
			Additional Notes:
			<input name="pnotes" value="{{pNotes}}">
		</label>	
		<input type="submit">
		<div>{{form_warning}}</div>
	</form>
	<div class="listing">
	{% if pList %}
	<h3>Your Projects!</h3>
	<ul>
	{% for p in pList %}
		<li><form style="margin: 0; padding: 0;" method="post" action="delproject"> {{p.projectName}}
		<input style="display: inline;" type="submit" value="Delete">
			<span class="vis"> <input name="key_id" value="{{ p.key.id() }}"> </span>
		</form>
		</li>
	{% endfor %}
	</ul>
	{% endif %}
	<br>
	{{delete_message}}
	</div>
</body>	
</html>	