
a:hover{
  cursor: pointer;
  text-decoration: none;
}

/* @font-face {
    font-family: "contra";
    src: url(fonts/contra.ttf) format("truetype");
}
*/

body{
	font-family:  "Palatino Linotype", serif; /*georgia*/
	font-size: 16px;
  overflow-y: scroll;
  background-color: #fcfcfc;
}

body.leave-fixed-space{
  margin-top: 70px;

}

#json-div{
  padding-top: 5px;
}
/******* begin of welcome.css ***********/

#welcome-top-section{
  background-image: url('../images/background-sunrise.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: white;
  padding-top: 30px;
}

#company-name{
  display: inline-block;
}

.personal-dashboard{
  font-size: 18px;  
  text-align: right;
}


.signup-heading{
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 70px;
}

.signup-content{
  padding: 10px;
  font-size: 20px;
}

/******* end of welcome.css ***********/




#my-fixed-top {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);

}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 20px;
  line-height: 20px;
}

#timer{
  margin-top: 20px;
  width: 130px;
  padding: 10px 5px !important;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
.timer-body{
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 6px 0px;
}
.timer-footer{
  width: 100%;
  position: relative;
  left: 0px;
}
#play-pause-timer{
  width: 43%;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
#stop-timer{
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  color: #665555;
}
.stop-timer-active{
  color: #bb6688 !important;
}

#play-pause-timer:hover{
  cursor: pointer;
}
#stop-timer:hover{
  cursor: pointer;
}
@media (max-width: 991px) { /* for xtra-small and small devices */
  #timer{
    margin-top:15px;
    width: 120px;
  }
  #play-pause-timer{
    width:30px;
  }
  .timer-footer{
    margin-left: 23px;
  }

}

.timer-header{
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #555;
  width: 100%;
  height: 20px;
 /* box-shadow:  0 1px 2px -1px rgba(200,200,200,0.7);*/

}
.truncated { 
  display: inline-block;
  min-width: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: center;
}
#right-caret-arrow:hover{
  cursor: pointer;
}
#left-caret-arrow:hover{
  cursor: pointer;
}
.right-caret {
  float: right;
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 3px;
  vertical-align: top;
  border-left: 7px dashed;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.left-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 3px;
  vertical-align: top;
  border-right: 7px dashed;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}


.required:after { content:" *"; }
.required{
  color: red;
}

.panel-content{
  margin-top: 11px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
.panel-header{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: 500;
  margin-top: 22px;
	margin-bottom: 8px;
  border-bottom: 1px solid rgba(200,200,200,0.5);
  padding-bottom: 4px;

  color: #666;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
}


.lef-panel-icons{
  font-size: 13px;
  margin-right: 3px;
}

.modal-icons{
  margin-right: 5px;
  color: #777;
}

.theme-color{
  color: #5cb85c; /*bootstrap green*/
}


.left-panel{
  font-size: 14px;
}
.left-panel a{
  width: 100%;
  display: inline-block;
  padding: 1px 0px;
}
.left-panel a:hover{
  background-color: #f5f5f5;
  border-radius: 2px;
  text-decoration: none;
}

.left-panel-ul{
  list-style: none;
  padding-left: 0px;
}

.left-panel-ul > li > a{
  width: 100%;
  display: inline-block;
  padding: 1px 0px;
}
.left-panel-ul > li > a:hover {
  /*font-weight: 700;
  font-size: 13px;*/
  background-color: #f5f5f5;
  text-decoration: none;
}

.left-panel-ul > li{
  margin-bottom: 4px;
  font-size: 15px;
  width: 100%;
}
@media (max-width: 991px) { /* for xtra-small and small devices */
  .left-panel-ul > li{
    display: inline-block;
    width: 80px !important;
    vertical-align: middle;
  }
}
 
.custom > li:hover{
  background-color: #EEE !important;
}

.left-panel-link-highlight{
  /*font-weight: 900;
  color: #57d;
  font-size: 13px;
  text-decoration: underline;*/
  background-color: #f5f5f5;
  border-radius: 2px;
  /* cyan- background-color: #E6FFF6;*/
}


#load-more-projects-div{
  width: 100%;
}

#load-more-projects{
  display: inline-block;
  margin-left: 0%;
  font-size:13px;
  font-family: Times;
}

.add-near-project{
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 10px;
  font-weight: 600;
}

.my-font-heading{
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.add-data{
	width: 75px;
	max-height: 50px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.8);
}

.my-thumbnail-marker{
	width: 22px;
	display: inline-block;
}

@media (min-width: 768px){
  .search-form-padding{
    padding-left: 15px;
  }
  #home{
    display: none;
  }
  .search-form-control{
    width: 160px !important;
  }
  .left-caret{
    display: none; /* for sm devices, only right-caret in timer */
  }
}  
@media (min-width: 992px){
  .search-form-padding{
  padding-left: 55px;
  }
  #home{
    display: inline-block;
  }
  .search-form-control{
    width: 180px !important;
  }
  .left-caret{
    display: inline-block; /* Again reset left-caret in higher resolution devices */
  }
}
@media (min-width: 1200px){
  .search-form-padding{
    padding-left: 90px;
  }
  .search-form-control{
    width: 340px !important;
  }
}


.daily-box{
  margin-bottom: 30px;
  /*border: 1px solid rgba(200,200,200, 0.4);
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 10px;*/
  padding: 5px;
  background-color: white;
}

/* for bullet raja pencil */
.daily-box ul{
  list-style-type: none;
  margin-left: -15px;
}

.daily-box .bullet-raja-pencil{
  font-size: 13px !important;
  /*position: absolute; it was an option but misbehaves slightly!*/
  margin-left: -25px;
  margin-right: 7px; /* change this when margin-left:-25px; is changed */
  display: inline-block;
}

.daily-box .entry-box{
  margin-bottom: 10px;
  padding-top: 5px;
}


.bullet-raja-pencil:hover{
  cursor: pointer;
}

.entry-box .dropdown-menu{
  background-color: #fbfbfb;
  top: 30px;
}

.daily-box .entry-box-title{
  display: inline-block;
  color: #222;
  letter-spacing: .1px;
  font-weight: 700; 
}

.daily-box .entry-box b{
  display: inline-block;
  color: #777;
  font-weight: 600; 
}

.entry-box .note-area{
  display: inline-block;
}

.entry-box .note-area ul{
  margin-left: 0px;
  padding-left: 20px;
  list-style-type: circle;
}

.entry-box .note-area ol{
  margin-left: 0px;
  padding-left: 23px;
}

.entry-box .full-note{
  display: none;
}

.entry-box .show-more-notes{
  text-align: right;
}

.date-box{
  text-align: center;
  font-style: italic;
  opacity: 0.8;
  font-weight: 600;
  color: #57d;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.daily-box .container-div-for-table{
  margin-top: 6px;
  width: 100%;
}

.daily-box .work-hour-table{
  width: 100%;
  margin: 5px auto;
  font-size: 14px !important;
  color: #555 !important;
}
.daily-box .work-hour-table td{
  padding: 4px !important;
}
.work-hour-table .first-column{
  width: 60%;
}
.work-hour-table .second-column{
  width: 40%;

}

.notes-area{
  border-right: 2px solid rgba(200,200,200,0.1);
}



[contenteditable="true"] ul, ol{
  padding-left: 23px !important;
}

.initial-loading-container{
  height: 400px;
}
@media (max-width: 991px) { /* for xtra-small and small devices */
  .initial-loading-container{
     height: 200px;
  }
}
.initial-loading-gif{
  margin: auto;
  width: 48px;
  height: 48px;
  position: relative;
  top: 30%;
}


#div-load-more{
  height: 20px;
  width: 80px;
  position: relative;
  left: 30%;
}

#div-load-more img{
  margin-left: 10px;
}

a.load-more-click:hove{
  text-decoration: none;
}

.empty-box{
  min-height: 120px;
}

#main-content-title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: italic;

}

.footer-div{
  display: inline-block;
  position: absolute;
  left: 10px;
  font-size: 14px;
}
.footer-div span{
  color: red;
  padding-left: 10px;
  padding-right: 10px;
}


.modal-center{
  position: absolute;
  top: 10%;
  margin: 0;
}



.select-button{
  width: 100% !important;
}
.select-button ul{
  width: 100%;
}
.select-button > button{
  text-align: left;
}

.select-button span.caret{
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 14px;
}


.tab-pane-bottom-space{
  margin-bottom: 20px;
}

.form-header{
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(200,200,200,0.5);
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: left;
  color: #666;
  text-transform: uppercase;
  letter-spacing: .1px;
  font-weight: 600; 
}

.my-last-form-group{
  margin-top: -10px;
}


#working-time{
  margin-top: 4px;
}
.my-big-star-form{
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  float: right;
}

label{
  font-weight: 600 !important;
  font-size: 14px !important;
  color: rgba(25,25,25,0.75);
}
.sub-label{
  font-size: 12px !important;
}
.add-near-form{
  display: inline-block;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: middle;
  height: 34px;
  padding-top: 7px;
}

.tags-box{
  margin-top: 6px;

}
#tag-section, #event-tag-section{
  max-height: 70px;
  overflow: hidden;
  padding: 5px 15px;
}
.tags-added{
  display: inline-block;
  margin-right: 10px;
  padding: 5px 0px;
  background-color: #E6FFF6;
}

.tag-remove{
  display: inline-block;
  position: relative;
  margin-left: 3px;
  top: -5px;
  right: -2px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.control-label{
  text-align: left !important;
}

.data-highlight{
  width: 100%;
  padding: 2px;
  background-color: #f9f9f9;
  border-radius: 2px;
}

/* Text Area - with Div */
.textarea-div {
    height: 240px;
    padding: 4px 6px 4px 6px;
    
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 0px;
    overflow:auto;
}
.textarea-div:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Allows bootstrap class="btn-group" to be properly responsive */
.textarea-icon-group .btn-group {
    margin-left: 0px;
    margin-right: 0px;
}
.textarea-icon-group .btn-group:last-child {
    margin-right: 0;
}



/* Allows <i class="textarea-div-i-xxx" /> */
[class^="textarea-i-"],
[class*=" textarea-i-"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 15px;
    vertical-align: text-top;
    background-image: url("../images/textarea-div-icons.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/* The individual RTA icons */
.textarea-i-bold {
  background-position: 0px 0px;
}
.textarea-i-italic {
  background-position: -15px 0px;
}
.textarea-i-underline {
  background-position: -30px 0px;
}
.textarea-i-ul {
  background-position: -120px 0px;
}
.textarea-i-ol {
  background-position: -135px 0px;
}


#add-project-description{
  height: 70px;
}


@media (min-width: 992px) {
  .modal-my-work {
    width: 820px;
    margin-top: 5px !important;
  }

  .modal-my-event{
    width: 730px;
    margin-top: 1%;
  }
}


.modal-title{
  display: inline-block !important;
  font-size: 18px;
}

.my-modal-header-place{
  width: 83%;
}

.my-modal-footer{
  padding: 12px 15px;
}



#edit-projects-modal .modal-body{
  background-color: #f5f5f5;
}


.edit-projects-display-div{
  position: relative;
  min-height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #fbfbfb;
  padding: 8px 15px;
}

.edit-projects-title{
  display: inline-block;
  min-width: 100px;
  padding: 2px 5px;
}

.edit-projects-description{
  display: block;
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
  min-height: 5px;
  max-width: 96%;
  padding: 2px 5px;
}

.edit-projects-option-container{
  float: right;
  margin-top: 10px;
}


.edit-projects-option{
  color: #999;
  opacity: 0.8;
  min-width: 40px;
}


.edit-projects-option div{
  margin-left: 15px;
  font-size: 18px;
}


.edit-projects-option-container .dropdown-menu{
  background-color: #fefefe;
  
}

.edit-projects-binary{
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-projects-productive{
  color: green;
  display: inline-block;
  margin-right: 20px;
  padding: 2px 5px;
}

.unproductive{
  color: red;
}

.edit-projects-dropdown-icon{
  color: #777;
  opacity: 0.8;
  font-size: 11px;
  margin-left: -16px;
  margin-right: 4px;
}

.dropdown-menu li a {
  margin-left: 5px;
}

.dont-display{
  display: none;
}

.tooltip-inner{
  min-width: 120px;
}